@font-face {
    font-family: "Barlow";
    src: url(../polices/Barlow/Barlow-SemiBold.ttf);
}

/* font-family: 'Fraunces', serif; */



/* ---------- GENERAL ----------- */

body
{
    font-family: 'Barlow';
}














/* ---------- RESPONSIVE --------- */



@media (max-width: 480px){

    /* ----------- HEADER ------------ */

    header
    {
        height: 538px;

        background-image: url(../images/mobile/image-header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #3FBFFF;
    }

    header>.headerTop
    {
        display: flex;
        justify-content: space-between;
    }

    header>.headerTop>.logo
    {
        margin-left: 25px;
        margin-top: 30px;
    }

    header>.headerTop>.menuResponsive
    {
        margin-top: 30px;
        margin-right: 22px;
    }

    header>.headerTop>.menuResponsive>#menuBurger
    {
        display: block;

        width: 330px;
        height: 305px;

        background-color: white;

        position: absolute;
        top: 105px;
        right: 22px;

        opacity: 0;

        transition: top 500ms, opacity 500ms;

        margin: 0 auto;
    }

    header>.headerTop>.menuResponsive>#menuBurger>.containerSvgCorner
    {
        position: relative;
    }

    header>.headerTop>.menuResponsive>#menuBurger>.containerSvgCorner>.svgCorner
    {
        width: 25px;

        position: absolute;
        right: 0;
        top: -25px;

        rotate: 270deg;

        fill: white;
    }

    header>.headerTop>.menuResponsive>#menuBurger>ul
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;
    }

    header>.headerTop>.menuResponsive>#menuBurger>ul>li
    {
        margin-bottom: 40px;
    }

    header>.headerTop>.menuResponsive>#menuBurger>ul>li>a
    {
        text-decoration: none;

        color: hsl(213, 9%, 39%);

        font-size: 16px;
    }

    header>.headerTop>.menuResponsive>#menuBurger>ul>li:last-child
    {
        margin-top: 10px;
    }

    header>.headerTop>.menuResponsive>#menuBurger>ul>li:last-child>a
    {
        color: black;

        text-transform: uppercase;

        font-family: 'Fraunces', serif;

        padding: 20px 30px;

        background-color: hsl(51, 100%, 49%);

        border-radius: 50px;
    }

    header>.headerBottom>.presentation
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header>.headerBottom>.presentation>h2
    {
        text-align: center;

        margin-top: 90px;
        margin-bottom: 45px;

        font-size: 30px;
        font-family: 'Fraunces', serif;
        font-weight: 900;

        text-transform: uppercase;

        line-height: 50px;

        letter-spacing: 5px;

        width: 305px;

        color: white;
    }













    /* ------------ MAIN ------------- */

    /* ------> SECTION DESCRIPTION */

    main>.description>.transformYourBand>.containerImg
    {
        background-image: url(../images/mobile/image-transform.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        height: 310px;
    }

    main>.description>.audience>.containerImg
    {
        background-image: url(../images/mobile/image-stand-out.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        height: 310px;
    }

    main .description>div>.resume>.containerTitle
    {
        display: flex;
        justify-content: center;

        margin-top: 68px;
        margin-bottom: 25px;
    }

    main .description>div>.resume>.containerTitle>h3
    {
        font-size: 26px;
        font-family: 'Fraunces', serif;

        width: 270px;

        text-align: center;

        line-height: 35px;
    }

    main .description>div>.resume>.containerParagraph>p
    {
        color:hsl(232, 10%, 55%);

        text-align: center;

        width: 320px;

        margin: 0 auto;
        margin-bottom: 35px;

        font-size: 18px;

        line-height: 30px;
    }

    main .description>div>.resume>.containerBtnLearnMore
    {
        width: 140px;

        margin: 0 auto;
        margin-bottom: 70px;

        display: flex;
        justify-content: center;

        position: relative;
    }

    main .description>div>.resume>.containerBtnLearnMore>a
    {
        text-decoration: none;

        text-transform: uppercase;

        margin: 0 auto;

        color: black;

        font-size: 15px;
        font-family: 'Fraunces';

        position: relative;

        z-index: 2;
    }

    main .description>div>.resume>.containerBtnLearnMore>.borderBtn
    {
        height: 10px;
        width: 100%;

        border-radius: 10px;

        background-color: hsl(48, 100%, 90%);

        position: absolute;
        bottom: -5px;

        z-index: 1;
    }

    main .description>div>.resume>.containerBtnLearnMore>.borderBtn2
    {
        height: 10px;
        width: 100%;

        border-radius: 10px;

        background-color: hsl(6, 100%, 88%);

        position: absolute;
        bottom: -5px;

        z-index: 1;
    }

    main .description>.graphicDesign
    {
        background-image: url(../images/mobile/image-graphic-design.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        height: 600px;
    }

    main .description>.graphicDesign>.resume>.containerTitle
    {
        color: hsl(167, 40%, 24%);

        padding-top: 405px;
    }

    main .description>.graphicDesign>.resume>.containerParagraph>p
    {
        color: hsl(167, 40%, 24%);

        text-align: center;

        width: 330px;

        margin: 0 auto;

        font-size: 16px;
        line-height: 30px;
    }

    main .description>.photography
    {
        background-image: url(../images/mobile/image-photography.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        height: 600px;
    }

    main .description>.photography>.resume>.containerTitle
    {
        color: hsl(167, 40%, 24%);

        padding-top: 405px;

        margin-top: 0;
    }

    main .description>.photography>.resume>.containerParagraph>p
    {
        color: hsl(167, 40%, 24%);

        text-align: center;

        width: 330px;

        margin: 0 auto;

        font-size: 16px;
        line-height: 30px;
    }



    /* -----> FEEDBACK */

    main>.feedback
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .feedback>.clientTitleFeedback>h3
    {
        text-transform: uppercase;

        color: hsl(210, 4%, 67%);

        text-align: center;

        letter-spacing: 5px;

        font-family: 'Fraunces', serif;
        
        padding-top: 69px;

        font-size: 14px;
    }

    main .feedback>.clientFeedback
    {
        width: 300px;
    }

    main .feedback>.clientFeedback>.containerFeedback
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 65px;
    }

    main .feedback>.clientFeedback>.containerFeedback:last-child
    {
        margin-bottom: 90px;
    }

    main .feedback>.clientFeedback>.containerFeedback>.picture
    {
        padding-bottom: 35px;
    }

    main .feedback>.clientFeedback>.containerFeedback>.picture>img
    {
        border-radius: 50%;

        width: 75px;
    }

    main .feedback>.clientFeedback>.containerFeedback>.paragraphFeedback
    {
        font-size: 16px;

        text-align: center;

        line-height: 30px;

        color: hsl(213, 9%, 39%);

        padding-bottom: 30px;
    }

    main .feedback>.clientFeedback>.containerFeedback>.author>p
    {
        text-align: center;
    }

    main .feedback>.clientFeedback>.containerFeedback>.author>p:first-child
    {
        padding-bottom: 20px;

        font-family: 'Fraunces', serif;
        font-weight: 900;
        font-size: 16px;
    }

    main .feedback>.clientFeedback>.containerFeedback>.author>p:last-child
    {
        color: hsl(210, 4%, 67%);

        font-size: 14px;
    }



    /* -----> END MAINE */

    main>.imgEndMain>.containerImgEndMain
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    main>.imgEndMain>.containerImgEndMain>div
    {
        width: 50%;
        height: 188px;

        background-size: cover;
    }

    main>.imgEndMain>.containerImgEndMain>.img1
    {
        background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
    }

    main>.imgEndMain>.containerImgEndMain>.img2
    {
        background-image: url(../images/mobile/image-gallery-orange.jpg);
    }

    main>.imgEndMain>.containerImgEndMain>.img3
    {
        background-image: url(../images/mobile/image-gallery-cone.jpg);
    }

    main>.imgEndMain>.containerImgEndMain>.img4
    {
        background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
    }





    /* --------- FOOTER --------- */

    footer
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: hsl(168, 34%, 41%);
    }

    footer>.containerTitleFooter
    {
        height: 145px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer>.menuFooter
    {
        width: 300px;

        margin-bottom: 90px;
    }

    footer>.menuFooter>ul
    {
        display: flex;
        justify-content: space-between;
    }

    footer>.menuFooter>ul>li>a
    {
        text-decoration: none;

        color: hsl(167, 40%, 24%);
    }

    footer>.socialNetwork
    {
        width: 165px;

        display: flex;
        justify-content: space-between;

        margin-bottom: 80px;
    }
}